<!DOCTYPE html>
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
     <!-- Styles -->
    {% if page.layout == "default" %}
    <!-- <link rel="stylesheet" type="text/css" href="/assets/css/jquery-ui.css"/> -->
    <script type="text/javascript">
      var pageName = "homepage";
    </script>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/assets/css/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/chan.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="/assets/js/modernizr/modernizr.js"></script>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
    <!-- <link href="/assets/css/pinchzoomer.min.css" rel="stylesheet">
    <link href="/assets/css/fullscreen.min.css" rel="stylesheet"> -->
  </head>
