<div class="row hw-margin-div">
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		<h1 class="pvd-header gotham-rounded-light">{{ site.data.Portfolio.Mobility.enterprise_mobility.title}}</h1>
		<p class="pvd-data">{{ site.data.Portfolio.Mobility.enterprise_mobility.content}}</p>
		<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Coming Soon" class="hidden-xs hidden-md hidden-sm"><button class="custom-btn">VIEW CASE STUDY</button></a>
	</div>
	<div class="col-lg-6 col-testimoni testimonial-carousel visible-lg-block">
		<!-- Testimonial carousel -->
		<div data-interval="false" data-ride="carousel" class="carousel-osb carousel slide testimonial test-left tooltip_padding">
		<!-- Wrapper for slides -->
			<div class="carousel-inner">
				{% for testimony in site.data.Portfolio.Mobility.enterprise_mobility.testimonial%}
				{% if forloop.first %}
				<div class="item active">
					<div class="hw-copyright">
					{{ testimony.testimony}}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			<div class="arrow-down"></div>
		</div>
		<div data-interval="false" data-ride="carousel" class="carousel carousel-etl-right-allign carousel-osb slide">
			<!-- Wrapper for slides -->
			<div class="pf-words-by">
				{% for testimony in site.data.Portfolio.Mobility.enterprise_mobility.testimonial%}
				{% if forloop.first %}
				<div class="item active">
					<div class="name-align-right">
						<span class="textvalignmiddle gotham-rounded-bok"> {{ testimony.name}}<br>{{ testimony.role}}</span>
					<!-- <img src="/assets/img/solutions/user-pic.png"> -->
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div><!-- end of carousel inner-->
		</div><!-- end of testimonial-carousel-->
	</div>
</div>
<div class="row hw-margin-div">
	<div class="col-lg-6 col-testimoni testimonial-carousel visible-lg-block">
		<!-- Testimonial carousel -->
		<div data-interval="false" data-ride="carousel" class="carousel-ms carousel slide testimonial test-right tooltip_padding">
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				{% for testimony in site.data.Portfolio.Mobility.byod.testimonial%}
				{% if forloop.first %}
				<div class="item active">
					<div class="hw-copyright">
					{{ testimony.testimony}}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			<div class="arrow-down-left "></div>
		</div>
		<div data-interval="false" data-ride="carousel" class="carousel carousel-ms slide carousel-etl-left-allign">
			<!-- Wrapper for slides -->
			<div class="pf-words-by">
				{% for testimony in site.data.Portfolio.Mobility.byod.testimonial%}
				{% if forloop.first %}
				<div class="item active">
					<div class="name-align-left">
						<span class="textvalign-right-middle gotham-rounded-bok"> {{ testimony.name}}<br>{{ testimony.role}}</span>
					<!-- <img src="/assets/img/solutions/user-pic.png"> -->
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div><!-- end of carousel inner-->
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		<h1 class="pvd-header gotham-rounded-light">{{ site.data.Portfolio.Mobility.byod.title}}</h1>
		<p class="pvd-data">{{ site.data.Portfolio.Mobility.byod.content}}</p>
		<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Coming Soon" class="hidden-xs hidden-md hidden-sm"><button class="custom-btn">VIEW CASE STUDY</button></a>
	</div>
</div>
<div class="row hw-margin-div">
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		<h1 class="pvd-header gotham-rounded-light">{{ site.data.Portfolio.Mobility.mobility_testing.title}}</h1>
		<p class="pvd-data">{{ site.data.Portfolio.Mobility.mobility_testing.content}}</p>
		<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Coming Soon" class="hidden-xs hidden-md hidden-sm"><button class="custom-btn">VIEW CASE STUDY</button></a>
	</div>
	<div class="col-lg-6 col-testimoni testimonial-carousel visible-lg-block">
		<!-- Testimonial carousel -->
		<div data-interval="false" data-ride="carousel" class="carousel-osb carousel slide testimonial test-left tooltip_padding">
		<!-- Wrapper for slides -->
			<div class="carousel-inner">
				{% for testimony in site.data.Portfolio.Mobility.mobility_testing.testimonial%}
				{% if forloop.first %}
				<div class="item active">
					<div class="hw-copyright">
					{{ testimony.testimony}}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			<div class="arrow-down"></div>
		</div>
		<div data-interval="false" data-ride="carousel" class="carousel carousel-etl-right-allign carousel-osb slide">
			<!-- Wrapper for slides -->
			<div class="pf-words-by">
				{% for testimony in site.data.Portfolio.Mobility.mobility_testing.testimonial%}
				{% if forloop.first %}
				<div class="item active">
					<div class="name-align-right">
						<span class="textvalignmiddle gotham-rounded-bok"> {{ testimony.name}}<br>{{ testimony.role}}</span>
					<!-- <img src="/assets/img/solutions/user-pic.png"> -->
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div><!-- end of carousel inner-->
		</div><!-- end of testimonial-carousel-->
	</div>
</div>
<div class="row hw-margin-div">
	<div class="col-lg-6 col-testimoni testimonial-carousel visible-lg-block">
		<!-- Testimonial carousel -->
		<div data-interval="false" data-ride="carousel" class="carousel-ms carousel slide testimonial test-right tooltip_padding">
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				{% for testimony in site.data.Portfolio.Mobility.consumer_apps.testimonial%}
				{% if forloop.first %}
				<div class="item active">
					<div class="hw-copyright">
					{{ testimony.testimony}}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			<div class="arrow-down-left "></div>
		</div>
		<div data-interval="false" data-ride="carousel" class="carousel carousel-ms slide carousel-etl-left-allign">
			<!-- Wrapper for slides -->
			<div class="pf-words-by">
				{% for testimony in site.data.Portfolio.Mobility.consumer_apps.testimonial%}
				{% if forloop.first %}
				<div class="item active">
					<div class="name-align-left">
						<span class="textvalign-right-middle gotham-rounded-bok"> {{ testimony.name}}<br>{{ testimony.role}}</span>
					<!-- <img src="/assets/img/solutions/user-pic.png"> -->
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div><!-- end of carousel inner-->
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		<h1 class="pvd-header gotham-rounded-light">{{ site.data.Portfolio.Mobility.consumer_apps.title}}</h1>
		<p class="pvd-data">{{ site.data.Portfolio.Mobility.consumer_apps.content}}</p>
		<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Coming Soon" class="hidden-xs hidden-md hidden-sm"><button class="custom-btn">VIEW CASE STUDY</button></a>
	</div>
</div>