<div id="hw-ribbon-our-thinking-footer">
		<!-- blue ribbon div-->
		    <div class=" log-clr-backgrnd container" id="hw-ribbon-our-thinking">
		        <div class="row collobo-footer-division devops-height">						<span class="gotham-rounded-light ribon-font clr-white h-approch text-center rbn-ftr-others">We <i class="fa fa-heart  hm-heart"></i> to be your technology partners</span>
						<span class="gotham-rounded-light ribon-font clr-white h-approch text-center rbn-ftr-company">We Advocate Elastic Workforce</span>
						<span class="upskill-filter hm-talk-btn es-mob-talk-btn">
						<span><button class=" job-board-btn job-btn custom-btn heading-custom-btn hm-vertical hm-vertical1 our-heading-custom-btn job-btn-left-0" data-toggle="modal" data-target="#start-project">TALK TO US</button></span>
						<span class="rbn-ftr-company"><a href="/job_board"><button class="job-board-btn job-btn custom-btn heading-custom-btn hm-vertical hm-vertical1 our-heading-custom-btn">JOB BOARD</button></a></span>
						</span>
		    	</div>
		   </div>
		<div id="start-project" class="modal fade">
	        <div class="modal-dialog contact-modal es-contact-modal">
	            <div class="modal-content">
	            	
	                <div class="container form-container">
	                	<span class="hm-contact es-mob-contact"><i class="fa fa-mobile"></i><span class="hm-num gotham-rounded-light">+7259471785</span></span>
					 <img class="close-pop es-mob-close-pop" data-dismiss="modal" src="/assets/svg/close-pop.svg" alt="close">
	                	<h1 class="gotham-rounded-bold es-mob-head">Let's work together</h1>
	                	<div class="es-popup">
				                	<span class="gotham-rounded-bold es-pop-head">Let's Work Together
				                	<img class="close-pop desktop-close-pop" data-dismiss="modal" src="/assets/img/engage-us-responsive/cross-img.png" alt="close"></span>
				                </div>
	                	<hr class="es-popup-hr">
	                	<div class="post-resume">
	         			<form class="form-signin" action="https://getsimpleform.com/messages?form_api_token=0081d68f31d313aaa86b262fda0a1849" method="post" enctype="multipart/form-data">  <!-- start of form -->
	         				<input type='hidden' name='redirect_to' value='http://hashworks.co/thankyou/'/>
							<div class="row ">
									<div class="col-lg-6"> 
										<div class="text-border es-input-br-btm">
											<div class="input-group">
					      						<div class="input-group-addon"><img src="/assets/img/talent_acquisition/name-img.png" alt="name"></div>
					      						
												<input type="text" name="name" class="form-control placeholder-pro mainLoginInput input_name" id="name" placeholder="NAME" required>
											</div>
										</div>		
									</div>
								
								<div class="col-lg-6"> 
									<div class="text-border es-input-br-btm">
										<div class="input-group">
				      						<div class="input-group-addon"><img src="/assets/img/talent_acquisition/email-img.png" alt="email"></div>
											<input type="text" name="email" class="form-control placeholder-pro mainLoginInput input_email" id="email" placeholder="EMAIL" required>
										</div>
									</div>
								</div>
							</div>
							<div class="row ms-row-mar es-ms-row-mar">
								<div class="col-lg-6"> 
									<div class="text-border es-input-br-btm">
										<div class="input-group">
				      						<div class="input-group-addon"><img src="/assets/img/talent_acquisition/sub-img.png" alt="subject"></div>
											<select class="form-control mainLoginInput gotham-rounded-light input_subject sub-width" id="subject" name="subject">
												<option value="Subject">Subject</option>
												<option value="Marketing" class="level-0">Marketing</option>
												<option value="Design" class="level-0">Design</option>
												<option value="UX" class="level-0">UX</option>
												<option value="WordPress" class="level-0">WordPress</option>
												<option value="Strategy" class="level-0">Strategy</option>
												<option value="Automations" class="level-0">Automations</option>
												<option value="News" class="level-0">News</option>
												<option value="Content" class="level-0">Content</option>
												<option value="Social" class="level-0">Social Media</option>
											</select>
										</div>	
									</div>	
								</div>
								
								<div class="col-lg-6"> 
									<div class="text-border es-input-br-btm">
										<div class="input-group">
				      						<div class="input-group-addon"><img src="/assets/img/talent_acquisition/phone-img.png" alt="phone"></div>
											<input type="text" name="phone" class="form-control placeholder-pro mainLoginInput input_phone" id="phone" placeholder="PHONE" required>
										</div>
									</div>	
								</div>
							</div>

							<div class="row ms-row-mar es-ms-row-mar">
								<div class="col-lg-12">
									<div class="text-border es-input-br-btm">
									<div class="input-group">
				      						<div class="input-group-addon"><img src="/assets/img/talent_acquisition/sub-img.png" alt="message"></div>
				      						
				      						<textarea placeholder= "MESSAGE/FEEDBACK/REQUEST" name="message" class="form-control placeholder-pro mainLoginInput input_message"  id="message" rows="3" required></textarea>
				      					</div>	
									</div>
								</div>
							</div><!-- end of text-area row-->

							<div class="attach-file">
				      			<div class="col-lg-9 col-md-7 col-sm-7 col-xs-7">
				      				<input type="file" name="file" class="gotham-book input_file-upload" id="file-upload"  required>
				      				<br/><br/>
				      				<span class="attach-text"><span><img src="/assets/img/talent_acquisition/attach.png" alt="attach"></span><span class="gotham-rounded-bok attach-span">Attach File</span></span>
				      				<input type="text"  class="input_file-detail form-control placeholder-pro mainLoginInput"  id="file-detail" readonly="readonly">
				      			</div>
				      			<div class="col-lg-3 col-md-5 col-sm-5 col-xs-5 submit-background">
				      			<button id="submit-btn" type="submit" class="btn">
              <br>
              <span class="submit-resume hr-display" style="margin: 0px auto;">
               <img src="/assets/img/talent_acquisition/submit.png" class="img-submit" alt="imgsubmit">
               <span class="gotham-rounded-bok submit-text placeholder-pro img-para">SUBMIT</span>
              </span>
          </button>
				      			</div>
				      		</div><!-- end of attach-file-->
						</form> <!-- end of form -->
						</div><!-- end of postresume -->
					<div class="show-as-love es-mob-like"><!-- hm social icon-->
					<div class="row">
						<div class=" col-lg-offset-7 col-lg-5">
							<div class="hm-shows-love">
								<h1 class="gotham-rounded-bold hm-show-text hw-heading show-text1">Show us your <i class="fa fa-heart hm-show-heart"></i> </h1>
								<div class= "hm-icons hm-form-val">
									
			                    	<a href="https://www.facebook.com/hashworks/" class="fa-stack hw-socialshare social-icons" target="_blank">
					                    <i class="fa fa-circle-thin fa-stack-2x"></i>
					                    <i class="fa fa-facebook fa-stack-1x"></i>
					                  </a>
					                  <a href="https://twitter.com/hashworksco" class="fa-stack hw-socialshare social-icons" target="_blank">
					                    <i class="fa fa-circle-thin fa-stack-2x"></i>
					                    <i class="fa fa-twitter fa-stack-1x"></i>
					                  </a>
					                  <a href="https://www.linkedin.com/company/9228490" class="fa-stack hw-socialshare social-icons" target="_blank">
					                    <i class="fa fa-circle-thin fa-stack-2x"></i>
					                    <i class="fa fa-linkedin fa-stack-1x"></i>
					                     </a>
                  				</div>
                  			</div>
              			</div>
			        </div><!--end of hm-socia-icn-->
	            </div>
	        </div>
	    </div>
	 </div>
	</div>


</div>
<!-- tab ends -->
