<!-- hw-started -->
<div id="colobo-bootcamp-ribbon">
               <div class="hw-started1 log-clr-backgrnd container-fluid ">
               <div class="row p-flex collobo-footer-division devops-height">
               <span class="c-flex gotham-rounded-light hw-main-heading clr-white h-approch collobo-hw-main-heading bootcamp-content">WE'RE HERE TO HELP YOU OUT</span>
               <span class="c-flex gotham-rounded-light hw-main-heading clr-white h-approch collobo-hw-main-heading collob-content-1 bootcamp-content-others">WE ADVOCATE ELASTIC WORKFORCE</span>
               <span class="c-flex gotham-rounded-light hw-main-heading clr-white h-approch collobo-hw-main-heading collob-content-2 bootcamp-content-others">BE OUR CHANNEL PARTNER</span>
                  <span class="c-flex gotham-rounded-light hw-main-heading clr-white h-approch collobo-hw-main-heading collob-content-3 bootcamp-content-others">EXPLORE JOB OPPORTUNITIES</span>
                  <div class="upskill-filter all c-flex clearfix">
                     <span><button class=" job-board-btn job-btn custom-btn heading-custom-btn talk-to-us collobo-talk-to-us talk-3 bootcamp-content-others">POST RESUME</button></span>
                     <span><button class=" job-board-btn job-btn custom-btn heading-custom-btn talk-to-us collobo-talk-to-us talk-1 talk-2 bootcamp-content-others">TALK TO US</button></span>
                     <span><a href="/job_board"><button class=" job-board-btn gotham-rounded-bold custom-btn heading-custom-btn collobo-talk-to-us bootcamp-content-others">JOB BOARD</button></a></span>
                     <span><button class=" job-board-btn job-btn custom-btn heading-custom-btn talk-to-us collobo-talk-to-us bootcamp-content">GET STARTED</button></span>
                  </div>
               </div>
            </div>             
               <!-- End of hw-started -->
<!-- layout for map and form-->
            <div class="container ms-form-mar" id="form-map-div">
               <!-- <i class="fa fa-times job-close job-close-1"></i> -->
               <h1 class="lets-work-heading">Lets Work Together<i class="fa fa-times job-close lets-job-close"></i></h1>
               <div class="row">
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                     <!-- google map -->
                     <div id="map"></div>
                     <!-- End of google map -->
                     <div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                     <div class="post-resume">
                        <form class="form-signin" action="https://getsimpleform.com/messages?form_api_token=0081d68f31d313aaa86b262fda0a1849" method="post" enctype="multipart/form-data">
                           <input type='hidden' name='redirect_to' value='http://hashworks.co/thankyou/'/>
                           <!-- start of form -->
                           <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-col">
                                 <div class="text-border">
                                    <div class="input-group">
                                       <div class="input-group-addon collaborative-input-group"><img src="/assets/img/talent_acquisition/name-img.png" alt="name"></div>
                                       <input type="text" class="form-control collaborative-form-control placeholder-pro mainLoginInput input_name" id="name1" placeholder="NAME" required>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                 <div class="text-border">
                                    <div class="input-group">
                                       <div class="input-group-addon collaborative-input-group"><img src="/assets/img/talent_acquisition/email-img.png" alt="email"></div>
                                       <input type="text" class="form-control collaborative-form-control placeholder-pro mainLoginInput input_email" id="email1" placeholder="EMAIL" required>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row ms-row-mar ms-row-mar-1">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-col">
                                 <div class="text-border">
                                    <div class="input-group">
                                    <div class="input-group-addon"><img src="/assets/img/talent_acquisition/sub-img.png" alt="subject"></div>
                                    <select class="form-control mainLoginInput gotham-rounded-light input_subject sub-width" id="subject">
                                    <option value="Subject">Subject</option>
                                    <option value="Marketing" class="level-0">Marketing</option>
                                    <option value="Design" class="level-0">Design</option>
                                    <option value="UX" class="level-0">UX</option>
                                    <option value="WordPress" class="level-0">WordPress</option>
                                    <option value="Strategy" class="level-0">Strategy</option>
                                    <option value="Automations" class="level-0">Automations</option>
                                    <option value="News" class="level-0">News</option>
                                    <option value="Content" class="level-0">Content</option>
                                    <option value="Social" class="level-0">Social Media</option>
                                    </select>
                                    </div> 
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                 <div class="text-border">
                                    <div class="input-group">
                                       <div class="input-group-addon collaborative-input-group"><img src="/assets/img/talent_acquisition/phone-img.png" alt="phone"></div>
                                       <input type="text" class="form-control collaborative-form-control placeholder-pro mainLoginInput input_phone" id="phone" placeholder="PHONE" required>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row ms-row-mar form-col-sec">
                              <div class="col-lg-12 col-md-12 col-md-12 col-xs-12">
                                 <div class="text-border">
                                    <div class="input-group">
                                       <div class="input-group-addon"><img src="/assets/img/talent_acquisition/sub-img.png" alt="message"></div>
                                       <textarea placeholder= "MESSAGE/FEEDBACK/REQUEST" class="form-control textarea-form-control placeholder-pro mainLoginInput input_message"  id="message" rows="3" required></textarea>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- end of text-area row-->
                           <div class="attach-file collaborative-attach-file">
                              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7 div-attach-file">
                                 <input type="file" class="gotham-book input_file-upload collaborative-input_file-upload" id="file-upload" required>
                                 <br/><br/>
                                 <span class="attach-text collaborative-attach-text"><span><img src="/assets/img/talent_acquisition/attach.png" alt="attach"></span><span class="gotham-rounded-bok attach-span clr-white">Attach File</span></span>
                                 <input type="text"  class="input_file-detail form-control placeholder-pro mainLoginInput"  id="file-detail" readonly="readonly"/>
                              </div>
                              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5 submit-background collaborative-submit-background">
                                 <button id="submit-btn" type="submit" class="btn">
                                    <br>
                                    <span class="submit-resume hr-display" style="margin: 0px auto;">
                                       <img src="/assets/img/talent_acquisition/submit.png" class="img-submit collaborative-img-submit" alt="submit">
                                       <span class="gotham-rounded-bok submit-text placeholder-pro img-para collaborative-submit">SUBMIT</span>
                                    </span>
                                 </button>
                              </div>
                           </div>
                           <!-- end of attach-file-->
                        </form>
                        <!-- end of form -->
                     </div>
                     <!-- end of postresume -->
                  </div>
                  <!--end of col-lg-8-->
               </div>
            </div>
            <!-- end of layout for map and form-->
            
            </div>