.bc-mob {
    display: none;
  }
   .bootcamp-ribbon-div{
    margin: 0 auto;
    width: 500px;
     padding: 10px 0;
  }
  .bc-desk .gotham-rounded-light.hw-main-heading.clr-white.h-approch {
    text-align: initial;
    font-size: 14px;
    margin-right: 20px;
}
.bc-desk .text-uppercase.custom-btn.heading-custom-btn.talk-to-us {
  font-family: "gotham-rounded-book";
    font-size: 12px;
     padding: 6px 10px;
}
.hw-started.log-clr-backgrnd.container-fluid.bootcamp-ribbon-div {
    width: 100%;
}
.bootcamp-devops-img > img {
    display: none;
}
@media screen and (max-width: 1199px) {
  #Layer_1 {
    display: none;
 }
 .bootcamp-devops-img > img {
    display: block;
    margin-left: 10px;
}
  .bc-desk div#bootcamp-filter-total {
    padding-top: 0;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  #bootcamp-filter-controls{
    padding-top: 0;
  }
  .bc-desk .hw-copyright.gotham-rounded-light{
    margin-top: 0;
  }
  .bc-desk #bootcamp-filter-total {
      margin-top: 0;
  }
  .bc-desk div#bootcamp-filter-controls {
    padding-top: 0px;
    margin-bottom: 25px;
  }

  .hw-tab-heading {
    padding-top: 0;
  }
  .bootcamp-text-center {
    text-align: center;
  }

  .bootcamp-main-heading {
    font-size: 32px;
    color: #000;
    font-family: "gotham-rounded-light";
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  .bootcamp-main-para {
    font-size: 20px;
    color: #343434;
    line-height: 30px;
    font-family: "gotham-rounded-light";
    margin-top: 0;
    margin-bottom: 0;
  }

  .bootcamp-line {
    background-color: #0ab4c5;
    bottom: 0;
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 25%;
  }

  .bootcamp-carousel-padding {
    padding: 0 0px 30px;
    position: relative;
  }

  .bootcamp-heading2 {
    font-size: 20px;
    color: #343434;
    margin-top: 20px;
    font-family: "gotham-rounded-light";
    margin-bottom: 25px;
  }

  .btn-group.bootcamp-btn-group {
    display: none;
  }

  .bootcamp-hr-display {
    padding-top: 0;
  }

  .bootcamp-ui-ux-checkbox-1,.bootcamp-devops-checkbox-1,.bootcamp-mobility-checkbox-1,.bootcamp-datascience-checkbox-1,.bootcamp-dataops-checkbox-1 {
    display: none;
  }

  .bootcamp-datascience-lable {
    border: none;
    padding: 0;
  }

  .bootcamp-margin-right {
    margin-right: 15px;
  }

  input[type="checkbox"] + .case-studies-label-text::after {
    border-color: #f36ba3;
  }

  input[type="checkbox"] + .case-studies-label-text::before, input[type="radio"] + .case-studies-label-text::before {
    border: 1px solid #aaaaaa;
  }

  input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 4px 0 0;
  }

  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }

  .bootcamp-hw-tab-heading, .bootcamp-hw-socialshare {
    font-size: 1.25rem;
    font-family: "gotham-rounded-light";
  }

  .dropdown-menu.bootcamp-dropdown-menu a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #0ab4c5 #0ab4c5;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    padding: 2px 11.5px;
  }

  .bootcamp-dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  .gotham-rounded-bok.hw-heading.bootcamp-hw-heading.heading.bootcamp-text-center {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 20px;
  }

  .text-uppercase.bootcamp-hw-tab-heading.hw-tab-heading.bootcamp-text-center {
    color: #737373;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .text-justify.bootcamp-hw-tab-para {
    font-family: "gotham-rounded-light";
    font-size: 14px;
    color: #343434;
    padding-bottom: 0;
    line-height: 16.5px;
  }

  .bootcamp-clearfix {
    margin-top: 10px;
  }

  .hw-contact-no2.bootcamp-hw-contact-no2 {
    font-family: "gotham-rounded-light";
    font-size: 10px;
    color: #343434;
    padding-right: 4px;
  }

  .hw-contact-no2.bootcamp-hw-contact-no2.bootcamp-hw-contact-no2-1 {
    padding-right: 0;
  }

  .hw-upskilling-details .row > div {
    margin: 10px 0 10px;
  }

  .hw-upskill-cont {
    border-bottom: 5px solid #0ab4c5;
  }
  #bootcamp-filter-total-no{
    display: none;
  }
  .bc-desk .checkbox-border-right-padding,.bc-desk .checkbox-border-left-padding{
    border:none !important;
    padding: 0;
  }
  .bc-desk div#bootcamp-filter-controls label{
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .bootcamp-ribbon-div{
    width: 350px;
  }
  .bc-desk .gotham-rounded-light.hw-main-heading.clr-white.h-approch {
    font-size: 12px;
}
.bc-desk .text-uppercase.custom-btn.heading-custom-btn.talk-to-us {
    font-size: 12px;
}
  .bc-desk .hw-font-heading {
    font-size: 18px !important;
    margin-top: 20px;
}
  .container.bc-mob {
    margin-top: 14px;
}
  .bootcamp-devops-img > img {
    margin-left: 10px;
}
  .bc-desk .hw-upskill-cont svg {
    display: none;
  }
  .hw-upskill-cont {
    border-left: 5px solid #0ab4c5;
    border-bottom: none;
}
  .hw-upskilling-details h2 {
    border-left: 5px solid #0ab4c5;
    background: #ededed none repeat scroll 0 0;
    color: #000;
    padding: 18px 0 4px;
  }
 .bootcamp-filter-contents{
  display: none;
 }
  .bc-mob{
    display: block;
  }
  .bootcamp-main-heading {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .bootcamp-main-para {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 16.5px;
  }

  .bootcamp-line {
    width: 10%;
  }

  .bootcamp-carousel-padding {
    padding: 0 0px 24px;
  }

  .bootcamp-heading2 {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 15px;
  }

  .bootcamp-hr-display {
    padding-top: 0;
  }

  .btn.btn-danger.bootcamp-btn-danger {
    background-color: #fff;
    border-radius: 0;
    border: 2px solid #0ab4c5;
    width: 145px;
    height: 30px;
    color: #444;
    padding: 0 12px;
  }

  .bootcamp-btn-group {
    width: 182px;
  }

  .btn-group.bootcamp-btn-group {
    margin: 0 auto;
    display: block;
  }

  .btn.btn-danger.dropdown-toggle {
    width: 37px;
    height: 30px;
    border-left: none;
  }

  .btn-danger:active:hover, .btn-danger:active:focus, .btn-danger.focus:active, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus, .open > .btn-danger.dropdown-toggle:hover, .open > .btn-danger.dropdown-toggle:focus, .open > .btn-danger.dropdown-toggle.focus {
    background-color: #fff;
    border: 2px solid #0ab4c5;
    color: #444;
    border-left: none;
  }

  .bootcamp-dropdown-menu {
    font-family: "gotham-rounded-light";
    font-size: 14px;
    color: #6c717d;
  }

  .bootcamp-hw-socialshare > input {
    display: none;
  }

  .bc-desk input[type="radio"],  .bc-desk input[type="checkbox"] {
    line-height: normal;
    margin: 4px 0 0;
  }

  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }

  .bootcamp-hw-tab-heading, .bootcamp-hw-socialshare {
    font-size: 1.25rem;
    font-family: "gotham-rounded-light";
  }

  .dropdown-menu.bootcamp-dropdown-menu a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #0ab4c5 #0ab4c5;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    padding: 2px 11.5px;
  }

  .bootcamp-dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  .dropdown-menu.bootcamp-dropdown-menu {
    margin-top: 30px;
    right: 1px;
  }

  .bootcamp-hw-upskill-cont {
    border-left: 5px solid #0ab4c5;
    border-bottom: none;
  }

  .hw-upskill-cont.bootcamp-hw-upskill-cont:hover {
    border-left: 5px solid #0ab4c5;
  }

  .gotham-rounded-bok.hw-heading.bootcamp-hw-heading.heading.bootcamp-text-center {
    background: #ededed none repeat scroll 0 0;
    border-left: 5px solid #0ab4c5;
    padding-top: 22px;
    padding-bottom: 12px;
    font-family: "gotham-rounded-light";
    font-size: 14px;
    color: #343434;
    font-weight: bold;
  }

  .bc-desk .bootcamp-hw-tab-heading {
    color: #ee2b7b;
    font-family: "gotham-rounded-light";
    font-size: 14px;
    margin-top: 0;
    font-weight: bold;
  }

  .text-justify.bootcamp-hw-tab-para {
    font-size: 10px;
  }

  .bootcamp-clearfix {
    margin-top: 10px;
  }

  .hw-contact-no2.bootcamp-hw-contact-no2 {
    font-family: "gotham-rounded-light";
    font-size: 10px;
    color: #343434;
    padding-right: 4px;
  }

  .hw-contact-no2.bootcamp-hw-contact-no2.bootcamp-hw-contact-no2-1 {
    padding-right: 0;
  }

  .btn.btn-danger.bootcamp-btn-danger.bootcamp-dropdown-menu:focus:active {
    border-left: 2px solid #0ab4c5;
  }

  .clearfix.pull-right {
    padding-top: 15px;
  }
}
@media screen and (max-width: 420px) {

  .bc-desk .gotham-rounded-light.hw-main-heading.clr-white.h-approch {
    font-size: 11px;
    margin-right: 0;
}
}
