.talent .li-tab-mar {
    display: table;
}
.lets-work-heading {
    display: none;
}
.gotham-rounded-bok.hw-heading.collaborative-apply-heading {
    display: block;
}
.gotham-rounded-bok.hw-heading.collaborative-apply-heading.collaborative-apply-heading-1 {
    display: none;
}
.collo-talent1 {
    display: block;
}
.fa.fa-times.job-close.job-close-1 {
    display: none;
}
 .caret.collaborative-caret {
    display: none;
}
#cw-responsive .slick-slider {
    margin-bottom: 0px;
}
.collobo-hw-main-heading{
        font-size: 14px;
        text-align: initial;
        margin-right: 50px;
        padding: 0;
    }
    .collobo-talk-to-us{
        font-size: 11px;
        padding: 4px 6px;
        margin-right: 22px;
    }
    .collobo-footer-division {
        margin: 0 auto;
        padding: 10px 0;
        width: 600px;
}
#cw-responsive .c-flex.c-flex-1.tab-val {
    display: inline-block;
}
#cw-responsive .carousel-div {
    width: 100%;
}
#cw-responsive .c-flex.c-flex-1.tab-val {
    height: 100%;
}
@media screen and (max-width: 1199px) {
    .cw-desk {
        display: block;
    }
    .cw-mob {
        display: none;
    }
    .collaborative-heading {
        color: #000;
        font-family: "gotham-rounded-light";
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 50px;
    }
    .collaborative-para {
        font-family: "gotham-rounded-light";
        font-size: 20px;
        color: #343434;
        line-height: 30px;
    }
    .heading-caro-padd {
        padding: 0;
    }
    .carousel-padding {
        padding: 0 0 24px;
    }
    /*.container {
        width: 100%;
    }*/
    .c-flex-1 {
        width: 33%;
    }
    .hw-te-tab.hr-display {
        padding-top: 0;
    }
    .line-padding {
        padding-top: 0;
    }
    .text-center.hw-heading.hr-display {
        color: #000;
        font-size: 20px;
    }
    .hw-engage-cont h2,
    .paterner-heading {
        color: #000;
        font-family: "gotham-rounded-light";
        font-size: 20px;
        margin-bottom: 12px;
        text-align: justify;
    }
    .collaborative-employee-para {
        color: #000;
        font-family: "gotham-rounded-light";
        font-size: 12px;
        line-height: 18px;
        text-align: justify;
    }
    .gotham-rounded-bok.hw-heading.collaborative-apply-heading {
        color: #ee2b7b;
        font-size: 18px;
        font-family: "gotham-rounded-light";
        font-weight: bold;
        margin-bottom: 18px;
        text-align: center;
    }
    .gotham-rounded-bold.hw-para.collaborative-conventional {
        color: #3f4041;
        font-size: 18px;
        font-family: "gotham-rounded-light";
        font-weight: bold;
        padding-bottom: 4px;
    }
    .collaborative-font-family {
        color: #737373;
        font-size: 14px;
        font-family: "gotham-rounded-light";
    }
    #map {
        height: 190px;
        width: 100%;
        margin-bottom: 20px;
    }
    .ms-form-mar {
        margin-top: 20px;
    }
    .input-height {
        height: 50px;
    }
    .collaborative-form-control {
        height: 50px;
        padding: 14px 0;
        font-size: 14px;
    }
    .collaborative-input-group {
        padding: 16px 21px 0;
    }
    .form-col {
        margin-bottom: 8px;
    }
    .textarea-form-control {
        height: 100px;
    }
    .row.ms-row-mar.form-col-sec {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .job-close {
        margin-right: 0;
        margin-top: 0;
    }
    .ms-row-mar-1 {
        margin-top: 6px;
    }
    .input-group-addon-cw {
        height: 50px;
        padding: 16px 17px;
    }
    .collaborative-input_subject {
        width: 100%;
        height: 50px;
        padding: 15px 0;
    }
    .sub-width1 {
        margin-left: 0;
        width: 100% !important;
    }
    .caret.collaborative-caret {
        float: right;
        position: absolute;
        right: 2%;
        top: 47%;
    }
    .fa.fa-times.job-close.job-close-1 {
        display: block;
    }
    .caret.collaborative-caret {
    display: block;
}
}
@media screen and (max-width: 767px) {
    #cw-responsive .slick-prev.slick-arrow{
        z-index: 1;
    }
    .cw-desk {
        display: none;
    }
    .cw-mob {
        display: block;
    }
    #cw-responsive .gotham-book.input_file-upload.collaborative-input_file-upload {
        display: none;
    }
    #cw-responsive .input_file-detail.form-control.placeholder-pro.mainLoginInput {
        display: none;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0px;
    }
    .carousel-padding {
        padding: 0 0 15px;
    }
    .collabrative-header {
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 18px !important;
        font-weight: bold;
        color: #000;
        font-family: "gotham-rounded-light";
    }
    .gotham-rounded-light.hw-heading.h2-color.text-center.hw-line-height {
        margin-top: 0;
        font-size: 12px;
        color: #000;
        font-family: "gotham-rounded-light";
        line-height: 16.5px;
    }
    .text-center.hw-heading.hr-display {
        font-size: 12px;
    }
    .hw-te-tab.hr-display.c-flex-anchor {
        padding-left: 0;
        padding-right: 0;
    }
    .hw-engage-cont h2,
    .paterner-heading {
        font-size: 12px;
    }
    .hw-copyright.gotham-rounded-light.collaborative-employee-para {
        font-size: 10px;
    }
    .gotham-rounded-bok.hw-heading.collaborative-apply-heading {
        font-size: 12px;
    }
    .gotham-rounded-bok.hw-heading.collaborative-apply-heading {
        display: none;
    }
    .gotham-rounded-bok.hw-heading.collaborative-apply-heading.collaborative-apply-heading-1 {
        display: block;
    }
    .gotham-rounded-bok.hw-heading.collaborative-apply-heading.collaborative-apply-heading-1 {
        margin-bottom: 5px;
    }
    .gotham-rounded-bok.hw-heading.hw-copyright.gotham-rounded-light.collaborative-apply-heading.collaborative-apply-heading-1 {
        margin-top: 0;
    }
    .gotham-rounded-bold.hw-para.collaborative-conventional {
        font-size: 12px;
    }
    .collaborative-font-family {
        font-size: 10px;
    }
    .hw-engage-cont {
        margin: 20px 0 30px;
    }
    .lets-work-heading {
        display: block;
        color: #3f4041;
        font-size: 20px;
        font-weight: bold;
        font-family: "gotham-rounded-light";
        margin-top: 7px;
        margin-bottom: 30px;
    }
    .collaborative-attach-file {
        height: 50px;
    }
    #cw-responsive #file-upload {
        height: 50px;
        margin-left: 0px;
        width: 100%;
    }
    .collaborative-attach-text {
        bottom: 8%;
        font-family: "gotham-rounded-light";
        font-size: 14px;
        left: 18%;
    }
    .collaborative-submit-background {
        height: 50px;
        padding-bottom: 0;
        padding-top: 0;
    }
    .collaborative-submit-btn {
        height: 50px;
        left: 0;
        margin-top: 0;
        padding: 0;
    }
    .collaborative-img-submit,
    .collaborative-submit {
        margin: 0 5px;
    }
    #cw-responsive .submit-resume.hr-display {
        bottom: 21%;
        position: absolute;
    }
    #cw-responsive #submit-btn {
        bottom: 5px;
        height: 50px;
        left: 0;
    }
    .collobo-hw-main-heading{
        font-size: 8px;
        margin-right: 0 !important;
    }
    .collobo-talk-to-us{
        font-size: 7px; 
        margin-right: 8px;
    }
    .collobo-c-flex{
        justify-content: initial;
        margin: 0 auto;
        padding-right: 14px;
    }
    .collobo-c-flex1{
        float: none;
    }
    .collobo-footer-division {
        width: 300px;
    }
    .fa.fa-times.job-close.job-close-1 {
        display: none;
    }
}