{% include header.html %}

<main>

   <div class="mob-busval-show">
   <h1 class="text-center gotham-rounded-bok heading es-haeding">Our Thinking</h1>

   		<div class="carousel-padding">
		   	<div class="line"></div>
			<!-- <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false"> -->
				<div class="container heading-caro-padd">
				    <!-- Wrapper for slides -->
				    <!-- <div class="carousel-inner" role="listbox">
				    	 <div class="carousel-inner" role="listbox"> -->
				    	<h2 class="gotham-rounded-light hw-heading h2-color text-center hw-line-height es-heading-text ot-heading-text-pad">{{site.data.our_thinking.carousel.content}}</h2> 
					  	
				    <!-- </div>
				    </div> -->
				</div>
			<!-- </div> -->
	 	</div>
	 	</div>
	<!-- end of carousel-->
	<div class="our-thinking-responsive" id="our-thinking-responsive">
	<!--tabs-->
	<div class="bs-example line-padding service-tab">
			<div class="container ot-tab-container ot-tab-container-top">

		    <ul class="nav nav-tabs tab-nav-tabs p-flex ">
		    	
		        <li class="active c-flex ot-c-flex"><a class="hr-display ot-hr-display"  data-toggle="tab" href="#accelerate-business" >
		        	<ul class="tab-img">
		        		<li  class="li-tab-mar"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="75px" height="75px" viewBox="0 0 75 75" enable-background="new 0 0 75 75" xml:space="preserve">
<g>
	
		<rect x="4" y="35.172" fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" width="11.284" height="38.495"/>
	
		<rect x="23.133" y="56.34" fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" width="11.285" height="17.327"/>
	
		<rect x="42.267" y="44.942" fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" width="11.283" height="28.725"/>
	
		<rect x="61.398" y="16.448" fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" width="11.285" height="57.219"/>
	<polyline fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" points="9.642,24.339 14.238,10.039 
		28.775,45.789 38.894,17.067 46.043,34.447 60.46,1 	"/>
</g>
</svg></li>
		        		<li class="gotham-rounded-light font-24">
                          <p class="text-center">Business Value</p> 
                          </li>
					</ul></a>
				</li>
		        
		     

		        <li class="c-flex ot-c-flex"><a  class="hr-display ot-hr-display" data-toggle="tab" href="#engageus" >
		        	<ul class="tab-img" >
		        		<li class="li-tab-mar"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="75px" height="75px" viewBox="0 0 75 75" enable-background="new 0 0 75 75" xml:space="preserve">
<circle fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" cx="22.705" cy="25.132" r="21.039"/>
<circle fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" cx="52.699" cy="25.132" r="21.039"/>
<circle fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" cx="39.251" cy="50.574" r="21.038"/>
</svg>

</li>
		        		<li class="gotham-rounded-light font-24">
                          <p class="text-center">Engagement Model</p></li>
                          
					</ul></a>
		        </li>

		        <li class="c-flex ot-c-flex"><a  class="hr-display ot-hr-display" data-toggle="tab" href="#deliver">
		        	<ul class="tab-img" >
		        		<li class="li-tab-mar"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="75px" height="75px" viewBox="0 0 75 75" enable-background="new 0 0 75 75" xml:space="preserve">
<line fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="24.667" y1="38.564" x2="37.5" y2="38.564"/>
<line fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="18.25" y1="31.981" x2="18.25" y2="23.191"/>
<line fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="52.834" y1="62.148" x2="52.834" y2="53.358"/>
<g>
	
		<line fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="29.682" y1="4.454" x2="48.167" y2="4.454"/>
	
		<circle fill="none" stroke="#231F20" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="50.618" cy="4.453" r="2.199"/>
</g>
<g>
	
		<line fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="29.125" y1="11.454" x2="40.167" y2="11.454"/>
	
		<circle fill="none" stroke="#231F20" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="42.618" cy="11.453" r="2.199"/>
</g>
<g>
	
		<line fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="46.983" y1="67.992" x2="35.941" y2="67.992"/>
	
		<circle fill="none" stroke="#231F20" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="33.491" cy="67.991" r="2.199"/>
</g>
<path fill="none" stroke="#231F20" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M24.18,37.968c0,3.145-2.551,5.699-5.694,5.699c-3.146,0-5.7-2.555-5.7-5.699c0-3.148,2.554-5.699,5.7-5.699
	C21.629,32.269,24.18,34.819,24.18,37.968z"/>
<path fill="none" stroke="#231F20" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M58.68,68.301c0,3.145-2.551,5.699-5.694,5.699c-3.146,0-5.7-2.555-5.7-5.699c0-3.148,2.554-5.699,5.7-5.699
	C56.129,62.602,58.68,65.152,58.68,68.301z"/>
<image overflow="visible" width="450" height="470" transform="matrix(0.1352 0 0 0.1352 -83.3335 25.3457)">
</image>
<rect x="7.815" y="1.524" fill="none" stroke="#231F20" stroke-linecap="round" stroke-miterlimit="10" width="21.333" height="21.333"/>
<rect x="42.25" y="27.94" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -11.7998 48.7244)" fill="none" stroke="#231F20" stroke-linecap="round" stroke-miterlimit="10" width="21.333" height="21.333"/>
<rect x="44.607" y="30.297" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -11.7999 48.7255)" fill="none" stroke="#231F20" stroke-linecap="round" stroke-miterlimit="10" width="16.62" height="16.618"/>
</svg>
</li>
		        		<li class="gotham-rounded-light font-24">
                          <p class="text-center">Delivery Model</p></li>
                          
					</ul></a>
		        </li>
		    </ul>

		</div> <!--end of contaier-fuild of tab heading-->
<!-- tab-content -->
		    <div class="tab-content">

				<!-- tab -->
			          <div id="accelerate-business" class="tab-pane fade in active">
			           <!-- categories -->
					       <div class="container ot-tab-container">

					       	<!-- <div class="main-content"> -->
					       					<div class="collapse-button">
												<img id ="collapse-image-1" alt="arrow" src="/assets/img/service-del/Co-collective-Arrow.svg">
											</div>
											<div class="collapse-button">
												<img id ="collapse-image-2" alt="arrow" src="/assets/img/service-del/Co-collective-Arrow.svg">
											</div>
											<div class="collapse-button">
												<img id ="collapse-image-3" alt="arrow" src="/assets/img/service-del/Co-collective-Arrow.svg">
											</div>
											<div class="collapse-button">
												<img id ="collapse-image-4" alt="arrow" src="/assets/img/service-del/Co-collective-Arrow.svg">
											</div>


					      
					       			<div class="main-contentt ourthinking-main-contentt">
								<!-- hw-engage-cont hw-service-details -->

								<div class="row thinking-height2 margin-buisness-tab"  id="buisness-tab">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 thinking-height" id="div-top-left">
											
											<div class="hr-display content">
												<img src="/assets/img/service-del/Ourthinking_Sub_1.svg" alt="ourthinking">
											</div>
										<div class=" top-left">
											<h1 class="text-center gotham-rounded-light heading hw-copyright mob-font-size">We Resolve</h1>
											<div class="we-resolve" id="main-top-left">
					       				<div class="row">
					       				<div class="col-lg-6 hw-buiseness-padding-right">
							       			<div class="partner-title title-background">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_resolve.part1[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_resolve.part1[0].content}}</p>
											</div>
										</div>	<!--end of -->
										<div class="col-lg-6 hw-buiseness-padding-left">
							       			<div class="partner-title title-background">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_resolve.part2[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_resolve.part2[0].content}}</p>
											</div>
										</div>	
										</div><!--end of -->
										<div class="row">
					       				<div class="col-lg-6 hw-buiseness-padding-right">
							       			<div class="partner-title title-background">
												<p class="gotham-rounded-light hw-copyright  clr-black">{{site.data.our_thinking.Business.we_resolve.part3[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_resolve.part3[0].content}}</p>
											</div>
										</div>	<!--end of -->
										<div class="col-lg-6 hw-buiseness-padding-left">
							       			<div class="partner-title title-background">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_resolve.part4[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_resolve.part4[0].content}}</p>
											</div>
										</div>
										</div>	<!--end of -->
										<div class="row">
					       				<div class="col-lg-6 hw-buiseness-padding-right">
							       			<div class="partner-title title-background">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_resolve.part5[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_resolve.part5[0].content}}</p>
											</div>
										</div>	<!--end of -->
										<div class="col-lg-6 hw-buiseness-padding-left">
							       			<div class="partner-title title-background">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_resolve.part6[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_resolve.part6[0].content}}</p>
											</div>
										</div>	
										</div><!--end of -->
					       		</div><!--end of we-resolve-->
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 thinking-height" id="div-top-right">
										
											
										<div class="content  hr-display">
											<img src="/assets/img/service-del/Ourthinking_Sub_2.svg" alt="ourthinking">
										</div>
										<div class="top-right">
											<h1 class="text-center gotham-rounded-light heading hw-copyright mob-font-size">We Practice</h1>
											<div class="we-practice" id="main-top-right">
					       				<div class="row">
					       				<div class="col-lg-6 hw-buiseness-padding-right">
							       			<div class="partner-title title-background">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_practice.part1[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_practice.part1[0].content}}</p>
											</div>
											</div>
										<div class="col-lg-6 hw-buiseness-padding-left">
							       			<div class="partner-title title-background">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_practice.part2[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_practice.part2[0].content}}</p>
											</div>
											</div>
										</div>	<!--end of -->
										<div class="row">
					       				<div class="col-lg-6 hw-buiseness-padding-right">
							       			<div class="partner-title title-background">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_practice.part3[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_practice.part3[0].content}}</p>
											</div>
										</div>	<!--end of -->
										
										<div class="col-lg-6 hw-buiseness-padding-left">
							       			<div class="partner-title title-background">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_practice.part4[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_practice.part4[0].content}}</p>
											</div>
										</div>	
										</div><!--end of -->
										<div class="row">
					       				<div class="col-lg-6 hw-buiseness-padding-right">
							       			<div class="partner-title title-background2">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_practice.part5[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_practice.part5[0].content}}</p>
											</div>
										</div>	<!--end of -->
										<div class="col-lg-6 hw-buiseness-padding-left">
							       			<div class="partner-title title-background">
												<p class="gotham-rounded-light hw-copyright  clr-black">{{site.data.our_thinking.Business.we_practice.part6[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_practice.part6[0].content}}</p>
											</div>
										</div>
										</div>	<!--end of -->

					       		</div><!--end of we-practice-->
										</div>
									</div>
									</div>
									<div class="row thinking-height2 margin-buisness-tab1" >
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 thinking-height" id="div-bottom-left">
											
										<div class="content  hr-display">
											<img src="/assets/img/service-del/Ourthinking_Sub_3.svg" alt="ourthinking">
										</div>
										<div class="bottom-left">
											<h1 class="text-center gotham-rounded-light heading hw-copyright mob-font-size">We Accelarate</h1>
											<div class="we-accelarate" id="main-bottom-left">
					       				<div class="row">
					       				<div class="col-lg-6 hw-buiseness-padding-right">
							       			<div class="partner-title title-background">
												<p class="gotham-rounded-light hw-copyright  clr-black">{{site.data.our_thinking.Business.we_accelarate.part1[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_accelarate.part1[0].content}}</p>
											</div>
										</div>	<!--end of -->
										<div class="col-lg-6 hw-buiseness-padding-left">
							       			<div class="partner-title title-background">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_accelarate.part2[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_accelarate.part2[0].content}}</p>
											</div>
										</div>	
										</div><!--end of -->
										<div class="row">
					       				<div class="col-lg-6 hw-buiseness-padding-right">
							       			<div class="partner-title title-background3">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_accelarate.part3[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_accelarate.part3[0].content}}</p>
											</div>
										</div>	<!--end of -->
										<div class="col-lg-6 hw-buiseness-padding-left">
							       			<div class="partner-title title-background">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_accelarate.part4[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_accelarate.part4[0].content}}</p>
											</div>
										</div>	
										</div><!--end of -->
										<div class="row">
					       				<div class="col-lg-6 hw-buiseness-padding-right">
							       			<div class="partner-title title-background3">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_accelarate.part5[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_accelarate.part5[0].content}}</p>
											</div>
										</div>
										</div>	<!--end of -->

					       		</div><!--end of we-accelarate-->
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 thinking-height" id="div-bottom-right">
											<div class="collapse-button">
												<img id ="collapse-image-4" src="/assets/img/service-del/Co-collective-Arrow.svg" alt="arrow">
											</div>
										<div class="content hr-display">
											<img src="/assets/img/service-del/We_Partner.svg" alt="WePartner">
										</div>
										<div class="bottom-right">
											<h1 class="text-center gotham-rounded-light heading hw-copyright mob-font-size">We Partner To</h1>
											<div class="we-partner-to" id="main-bottom-right">
					       				<div class="row">
					       				<div class="col-lg-6 hw-buiseness-padding-right">
							       			<div class="partner-title title-background2">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_partner.part1[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_partner.part1[0].content}}</p>
											</div>
										</div>	<!--end of -->
										<div class="col-lg-6 hw-buiseness-padding-left">
							       			<div class="partner-title title-background2">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_partner.part2[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_partner.part2[0].content}}</p>
											</div>
										</div>	
										</div><!--end of -->
										<div class="row">
					       				<div class="col-lg-6  hw-buiseness-padding-right">
							       			<div class="partner-title title-background2">
												<p class="gotham-rounded-light hw-copyright  clr-black">{{site.data.our_thinking.Business.we_partner.part3[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_partner.part3[0].content}}</p>
											</div>
										</div>	<!--end of -->
										<div class="col-lg-6 hw-buiseness-padding-left">
							       			<div class="partner-title title-background2">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_partner.part4[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_partner.part4[0].content}}</p>
											</div>
										</div>	
										</div><!--end of -->
										<div class="row">
					       				<div class="col-lg-6 hw-buiseness-padding-right">
							       			<div class="partner-title title-background2">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_partner.part5[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_partner.part5[0].content}}</p>
											</div>
										</div>	<!--end of -->
										<div class="col-lg-6 hw-buiseness-padding-left">
							       			<div class="partner-title title-background2">
												<p class="gotham-rounded-light hw-copyright clr-black">{{site.data.our_thinking.Business.we_partner.part6[0].title}}</p>
											</div>
											<div class="partner-content">
												<p class="gotham-rounded-light hw-contact-no our-contact-no">{{site.data.our_thinking.Business.we_partner.part6[0].content}}</p>
											</div>
										</div>
										</div>	<!--end of -->
					       		</div><!--end of we-partner-->
										</div>
									</div>
									
								</div><!--end of row of tab1-->

								 	</div>

							</div><!-- end of container1-->
						        
					</div><!-- end of tab1 -->


		   	


		   		<!-- tab -->
			        <div id="engageus" class="tab-pane fade in">
			           <!-- categories -->
					       <div>

								<!-- hw-engage-cont hw-service-details -->
									<div class="hw-engage-cont hw-service-details">
										<!-- row -->
											<div class="clearfix row-clearfix">
												<div class="div-margin-left container ot-tab-container">
													<!-- <p class="gotham-rounded-light hw-copyright text-center clr-black">{{site.data.our_thinking.Engagement_model.engagement_model.title }}</p> -->
													<p class="gotham-rounded-light hw-copyright text-center">{{ site.data.our_thinking.Engagement_model.engagement_model.content }}</p>
												</div> 
												<section class="focal">
												<div class="hr-display service-img-mar zoomin ot-tab-container parent">
												<div class="tab-img-div panzoom">
													<img class="tab-img js-tab-img img-css" src="{{site.data.our_thinking.Engagement_model.engagement_model.imgsrc}}" alt="ourthinking">
												</div>
												</div>
												</section>
											</div>
									</div>
							</div>
						</div>
		   		<!-- end of tab3 -->


		   		<!-- tab -->
			        <div id="deliver" class="tab-pane fade in">
			           <!-- categories -->
					       <div>

								<!-- hw-engage-cont hw-service-details -->
									<div class="hw-engage-cont hw-service-details">
										<!-- row -->
											<div class="clearfix row-clearfix">
												<div class="div-margin-left container ot-tab-container">
													<!-- <p class="gotham-rounded-light hw-copyright text-center clr-black">{{site.data.our_thinking.Delivery_model.delivery_model.title }}</p> -->
													<p class="gotham-rounded-light hw-copyright text-center">{{ site.data.our_thinking.Delivery_model.delivery_model.content }}</p>
												</div>
												<section class="focal1">
												<div class="hr-display service-img-mar zoomin1 ot-tab-container parent">
												<div class="tab-img-div panzoom1">
												<img class="tab-img img-css" src="{{site.data.our_thinking.Delivery_model.delivery_model.imgsrc}}" alt="ourthinking">
												</div>
												</div>
												</section>
											</div>
										<!--End of row-->
									</div>
								<!-- End of hw-engage-cont hw-service-details -->


							</div>
						<!-- end of container-->

						</div>
		   		<!-- end of tab4 -->

	   		
		</div>
	<!-- end of tab-content -->

</div>
</div>
</main>	

    <!-- End of work-together popup -->
    <!-- for the bottom up button-->
   					 




<!-- mobile view -->

<div class="tab-mobile">
    <div class="bs-example line-padding service-tab js-bs-example">
                <!-- <div class="carousel-div"> -->
                    <div class="container ot-margin-top">
                
                    <ul class="nav nav-tabs p-flex our-text-align">
                        <div class="carousel-div ot-margin">
                        <!-- <div> -->
                        <li id="tab-1" class="active c-flex tab-val pvh-active"><a class="hr-display"  data-toggle="tab" href="#accelerate-business-mobile" >
                            <ul class="tab-img">
                                <li  class="li-tab-mar"><img src="/assets/img/our-thinking-responsive-svg/bus-val-svg.svg" alt="busval"></li>
                                <li class="gotham-rounded-light font-24">
                                  <p class="text-center ot-text-center">Business Value</p> 
                                  </li>
                            </ul></a>
                        </li>
                        <!-- </div> -->
                     
                        <!-- <div> -->
                        <li id="tab-2" class="c-flex tab-val"><a  class="hr-display" data-toggle="tab" href="#engageus-mobile" >
                            <ul class="tab-img" >
                                <li class="li-tab-mar"><img src="/assets/img/our-thinking-responsive-svg/eng-mod-svg.svg" alt="engmod">
                                </li>
                                <li class="gotham-rounded-light font-24">
                                  <p class="text-center ot-text-center">Engagement Model</p></li>
                                  
                            </ul></a>
                        </li>
                        <!-- </div> -->

                        <!-- <div> -->
                        <li id="tab-3" class="c-flex tab-val"><a  class="hr-display" data-toggle="tab" href="#deliver-mobile">
                            <ul class="tab-img" >
                                <li class="li-tab-mar"><img src="/assets/img/our-thinking-responsive-svg/del-mod-svg.svg" alt=""delmod>
                            </li>
                                <li class="gotham-rounded-light font-24">
                                  <p class="text-center ot-text-center">Delivery Model</p></li>
                                  
                            </ul></a>
                        </li>
                        <!-- </div> -->
                        </div>
                    </ul>
                </div> <!--end of contaier-fuild of tab heading-->
        <!-- </div> -->
        <!-- tab-content -->
                    <div class="tab-content">

                        <!-- tab -->
                              <div id="tabContent-1" class="tab-pane fade in active">
                               <!-- categories -->

                                    <!-- <div class="main-content"> -->
                                                    <!-- <div class="collapse-button">
                                                        <img id ="collapse-image-1" src="/assets/img/service-del/Co-collective-Arrow.svg">
                                                    </div>
                                                    <div class="collapse-button">
                                                        <img id ="collapse-image-2" src="/assets/img/service-del/Co-collective-Arrow.svg">
                                                    </div>
                                                    <div class="collapse-button">
                                                        <img id ="collapse-image-3" src="/assets/img/service-del/Co-collective-Arrow.svg">
                                                    </div>
                                                    <div class="collapse-button">
                                                        <img id ="collapse-image-4" src="/assets/img/service-del/Co-collective-Arrow.svg">
                                                    </div> -->


                                  
                                            <div class="main-contentt">
                                        <!-- hw-engage-cont hw-service-details -->
                                                    <div class="text bg-we-resolve" id="js-div1">
                                                        <img src="/assets/img/service-del/Ourthinking_Sub_1.svg" alt="ourthinking">
                                                        <span class="mob-bus-content">We Resolve</span>
                                                    </div>
                                                    <div class="text bg-we-practice" id="js-div2">
                                                        <img src="/assets/img/service-del/Ourthinking_Sub_2.svg" alt="ourthinking">
                                                        <span class="mob-bus-content">We Practice</span>
                                                    </div>
                                                    <div class="text bg-we-acc" id="js-div3">
                                                        <img src="/assets/img/service-del/Ourthinking_Sub_3.svg" alt="ourthinking">
                                                        <span class="mob-bus-content">We Accelarate</span>
                                                    </div>
                                                    <div class="text bg-we-partner" id="js-div4">
                                                        <img src="/assets/img/service-del/We_Partner.svg" alt="Wepartner">
                                                        <span class="mob-bus-content">We Partner</span>
                                                    </div>
                                                    
                                            <!--end of row of tab1-->

                                            </div>

                                    <!-- end of container1-->
                                        
                            </div><!-- end of tab1 -->


                    


                        <!-- tab -->
                            <div id="tabContent-2" class="tab-pane fade in">
                               <!-- categories -->
                                   <div class="our-margin-left">

                                        <!-- hw-engage-cont hw-service-details -->
                                            <div class="our-engage-cont hw-service-details">
                                                <!-- row -->
                                                    <div class="row clearfix our-clearfix">
                                                        <div>
                                                            <!-- <p class="gotham-rounded-light hw-copyright text-center clr-black">{{site.data.our_thinking.Engagement_model.engagement_model.title }}</p> -->
                                                            <p class="gotham-rounded-light hw-copyright text-center ot-nav-content">{{ site.data.our_thinking.Engagement_model.engagement_model.content }}</p>
                                                        </div> 
                                                        <section class="focal">
                                                        <div class="hr-display service-img-mar es-service-img-mar zoomin parent">
                                                        <div class="tab-img-div panzoom">
                                                        <img class="tab-img img-css" src="{{site.data.our_thinking.Engagement_model.engagement_model.imgsrc}}" id="eng-zoom-out" alt="engmod">
                                                        </div>
                                                        </div>
                                                        </section>
                                                    </div>
                                            </div>
                                    </div>
                                </div>
                        <!-- end of tab3 -->


                        <!-- tab -->
                            <div id="tabContent-3" class="tab-pane fade in">
                               <!-- categories -->
                                   <div class="our-margin-left">

                                        <!-- hw-engage-cont hw-service-details -->
                                            <div class="our-engage-cont hw-service-details">
                                                <!-- row -->
                                                    <div class="row clearfix our-clearfix">
                                                        <div>
                                                            <!-- <p class="gotham-rounded-light hw-copyright text-center clr-black">{{site.data.our_thinking.Delivery_model.delivery_model.title }}</p> -->
                                                            <p class="gotham-rounded-light hw-copyright text-center ot-nav-content">{{ site.data.our_thinking.Delivery_model.delivery_model.content }}</p>
                                                        </div>
                                                        <section class="focal1">
                                                        <div class="hr-display service-img-mar es-service-img-mar zoomin1 parent">
                                                        <div class="tab-img-div panzoom1">
                                                        <img class="tab-img img-css" src="{{site.data.our_thinking.Delivery_model.delivery_model.imgsrc}}" alt="delmod">
                                                        </div>
                                                        </div>
                                                        </section>
                                                    </div>
                                                <!--End of row-->
                                            </div>
                                        <!-- End of hw-engage-cont hw-service-details -->


                                    </div>
                                <!-- end of container-->

                                </div>
                        <!-- end of tab4 -->

                    
                </div>
            <!-- end of tab-content -->
</div>

<!-- we resolve for mobile  starts-->
<div class="business-show fade">
<div class="container">
    <div class="mob-business-value"><img src="/assets/img/our-thinking-responsive-svg/bus-val-svg.svg" alt="busval"></div>

     <ul class="nav nav-tabs mob-nav-tab" id="mob-nav">
    	<li class="li-width js-com-cls" id="js-class1"><a data-toggle="pill" href="#home1" class="mob-we-resolve">We Resolve</a></li>
    	<li class="li-width js-com-cls" id="js-class2"><a data-toggle="tab" href="#home2" class="mob-we-resolve">We Practice</a></li>
    	<li class="li-width1 js-com-cls" id="js-class3"><a data-toggle="tab" href="#home3" class="mob-we-resolve">We Accelarate</a></li>
    	<li class="li-width2 js-com-cls" id="js-class4"><a data-toggle="tab" href="#home4" class="mob-we-resolve resolve-center">We partner</a></li>
  	</ul>
  	 <div class="triangle-up1"></div>
  	 <div class="triangle-up2"></div>
  	 <div class="triangle-up3"></div>
  	 <div class="triangle-up4"></div>
  	 <div class="tab-content mob-business-content">
     <div id="home1" class="tab-pane fade js-tab-class1">
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_resolve.part1[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_resolve.part1[0].content}}</p>
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_resolve.part2[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_resolve.part2[0].content}}</p>
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_resolve.part3[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_resolve.part3[0].content}}</p>
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_resolve.part4[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_resolve.part4[0].content}}</p>
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_resolve.part5[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_resolve.part5[0].content}}</p>
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_resolve.part6[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_resolve.part6[0].content}}</p>
    </div>
    <div id="home2" class="tab-pane fade">
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_practice.part1[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_practice.part1[0].content}}</p>
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_practice.part2[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_practice.part2[0].content}}</p>
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_practice.part3[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_practice.part3[0].content}}</p>
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_practice.part4[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_practice.part4[0].content}}</p>
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_practice.part5[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_practice.part5[0].content}}</p>
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_practice.part6[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_practice.part6[0].content}}</p>
    </div>
    <div id="home3" class="tab-pane fade">
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_accelarate.part1[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_accelarate.part1[0].content}}</p>
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_accelarate.part2[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_accelarate.part2[0].content}}</p>
       <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_accelarate.part3[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_accelarate.part3[0].content}}</p>
       <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_accelarate.part4[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_accelarate.part4[0].content}}</p>
       <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_accelarate.part5[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_accelarate.part5[0].content}}</p>
       <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_accelarate.part6[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_accelarate.part6[0].content}}</p>
    </div>
    <div id="home4" class="tab-pane fade">
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_partner.part1[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_partner.part1[0].content}}</p>
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_partner.part2[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_partner.part2[0].content}}</p>
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_partner.part3[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_partner.part3[0].content}}</p>
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_partner.part4[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_partner.part4[0].content}}</p>
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_partner.part5[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_partner.part5[0].content}}</p>
      <h3 class="mob-business-head">{{site.data.our_thinking.Business.we_partner.part6[0].title}}</h3>
      <p class="mob-business-para">{{site.data.our_thinking.Business.we_partner.part6[0].content}}</p>
    </div>
    </div>
  
</div>
</div>

<!-- we resolve mobile view ends -->


</div>

<!-- mobile view ends -->



	
{% include ribbon-footer.html %}
<div style="position: relative">
							<div class="our-thinking-apst-wrapper nav-scroll-up">
							<div class="apst-button our-apst-button"></div>
							</div>
						</div>
{% include footer.html %}
{% include html-footer.html %}