<div id="start-project-popup" class="modal fade">
	<div class="modal-dialog submit-popup" style="width: 100%;margin: 100px auto 0;text-align: center;">
	            <div class="modal-content">
                         <img src="/assets/img/success.png" class="submit-img" alt="submitimg" style="margin-top: 50px;">
              <h6 class="submit-heading gotham-rounded-bok" style="margin-top: 25px;font-size: 18px;color: rgb(244, 186, 11);">Thank You!</h6>
              <h6 class="submit-paragraph gotham-rounded-bok" style="margin-top: 20px;font-size: 18px;color: rgb(52, 52, 52);">We got your Profile.Will get back soon!</h6>
              <a href="/">Go back to home page</a>
       </div>
        </div>
    